@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');

@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar{
  display: none;
}

:root {
  --color-primary: #5044E5;
}


.rich-text { font-size: 15px;  }

.rich-text p { margin-bottom: 16px; color: #292929; }

.rich-text h1 { font-size: 36px; font-weight: 700; color: #252525 !important; margin: 32px 0; }

.rich-text h2 { font-size: 22px; font-weight: 700; color: #252525 !important; margin: 24px 0; }

.rich-text h3 { font-size: 18px; font-weight: 600; color: #333333 !important; margin: 20px 0; }

.rich-text h4 { font-size: 16px; font-weight: 500; color: #444444 !important; margin: 16px 0; }

.rich-text h5 { font-size: 14px; font-weight: 400; color: #555555 !important; margin: 12px 0; }

.rich-text h6 { font-size: 12px; font-weight: 400; color: #666666 !important; margin: 8px 0; }

.rich-text strong { font-weight: 700; }

.rich-text ol { margin-left: 30px; list-style-type: decimal; }

.rich-text ul { margin-left: 30px; list-style-type: disc; }

.rich-text li { margin-bottom: 8px; }

.rich-text a { color: #007AFF }



/* Quill Editor Styling */

.ql-toolbar {
  border: 1px solid #d1d5db;   /* gray-300 */
  border-bottom: none;
  border-radius: 8px 8px 0 0;
}

.ql-container {
  border: 1px solid #d1d5db;
  border-top: none;
  border-radius: 0 0 8px 8px;
}

.ql-editor {
  min-height: 320px;
  font-size: 14px;
}

.ql-container:focus-within {
  border-color: #2563eb;  /* blue-600 */
  box-shadow: 0 0 0 1px #2563eb;
}